<div class="navbar navbar-brand   navbar-fixed-top" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Student Registration", "Create", "Student")</li>
                <li>@Html.ActionLink("User Registration", "Create", "User")</li>
                <li>@Html.ActionLink("Show Students", "Index", "Student")</li>
                <li>@Html.ActionLink("Show Users", "Index", "User")</li>
                <li>@Html.ActionLink("Classes", "Index", "Class")</li>
                <li>@Html.ActionLink("Courses", "Index", "Course")</li>
                <li>@Html.ActionLink("Fees", "Index", "FeesModels")</li>

            </ul>
           @* @Html.Partial("_LoginPartial")*@
        </div>
    </div>
    <br />
</div>

