@model InstituteManagement.Models.ReceivedFeeDetailsModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ReceivedFeeDetailsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentFeeDetails.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFeeDetails.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountReceived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountReceived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
